@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Lato", sans-serif;
}
.outbox
{
    width: 100vw;
    min-height: 100vh;
    background: linear-gradient(to top left, #3ed8ff, #a8f5ff);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.loginbox{
    width: 400px;
    padding: 20px 40px;
    background-color: rgba(255, 0, 255, 0.1);
    backdrop-filter: blur(8px);
    border-radius: 40px;
    box-shadow: 2px 2px 5px #2773a5;
    z-index: 2;
}
.header{
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}
.loginbody{
    margin: 20px 0px; 
}
.loginbody p > label {
    display: block;
    font-weight: bold;
    
}
.loginbody p > input{
    width: 100%;
    border:1px solid palevioletred;
    border-radius: 6px;
    font-size: 1rem;
    margin-top: 1px;
   padding:10px;
}
.loginbody p>input[type="submit"]{
    background-color: #3498db;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 40px;
    margin-top: 10px ;
}
.loginbody p>input[type="submit"]:hover{
    background-color: #2773a5;
}
.para {
    color: #555;
    text-align: center;
    margin:10px 0px 5px 0px;
}
.logo {
    display: flex;
    justify-content: center; /* Centers logos horizontally */
    align-items: center; /* Centers vertically */
    gap: 10px; 
    font-size: 30px;
}
.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
    position: absolute;
}

.c1 {
    top: 50px;
    left: 50px;
}

.c2 {
    bottom: 50px;
    right: 50px;
}

