@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
}

.container {
    width: 100vw;
    min-height: 100vh;
    background: linear-gradient(to top left, #3ed8ff, #a8f5ff);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;  
}

.inside_container {
    width: 400px;
    padding: 20px 40px;
    background-color: rgba(255, 0, 255, 0.1);
    backdrop-filter: blur(8px);
    border-radius: 40px;
    box-shadow: 2px 2px 5px #2773a5;
    z-index: 2;
}

h2 {
    font-size: 2rem;
    color: #212121;
}

header {
    font-size: 0.9rem;
    color: #555;
    text-align: center;
}

.signupbody {
    margin: 20px 0;
}

.signupbody p > label {
    display: block;
    font-weight: bold;
    
}

.signupbody p > input,
.signupbody p > select {
    width: 100%;
    padding: 10px;
    border: 2px solid palevioletred;
    border-radius: 6px;
    font-size: 1rem;
    margin-top: 1px;
}

.signupbody p input[type="submit"] {
    background-color: #3498db;
    border: none;
    color: white;
    cursor: pointer;
    /* width: 100%;
    padding: 10px;
    font-size: 1rem; */
    border-radius: 4px;
    margin-top: 15px;
}

.signupbody p input[type="submit"]:hover {
    background-color: #2773a5;
}

.para {
    color: #555;
    text-align: center;
}

.para a {
    color: #2773a5;
    text-decoration: underline ;
    font-weight: bold;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
    position: absolute;
}

.c1 {
    top: 50px;
    left: 50px;
}

.c2 {
    bottom: 50px;
    right: 50px;
}
