*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* reset */
:root{
    --primary-color: #183b56;
    --secondary-color: #577592;
    --accent-color:#2294ed;
    --accent-dark: #1d69a3;
    --padding: 20px
}

body{
    font-family: Arial, sans-serif;
    color:var(--primary-color);
}
h2{
    font-size: 2.25rem;
    
}
p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.1em;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
 .container{   /*to have same space for all section in left and right */
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: var(--padding);
}
  /* banner part */
.top-banner{
    display:block;
     background-color: #4fb3d4;
}

.banner-text{
    color:white !important;
    text-align: center;
    padding: 15px 20px;
    font-size: 1.25rem;
    font-weight: 700;
}
  /* nav part */
.navblock{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.nav-left{
    width: 300px;
}
ul{    /*this is done to make li present in a horizontal manner*/
    display: flex;
    /* align-items: center; */
}
.nav-right ul{
     justify-content: end;
     gap: 40px;
     flex-basis: 730px;
}

.hover-link{
    color: var(--primary-color);
    transition: 0.3s ease-out;
}

.hover-link:hover{
    color: var(--accent-color);
}

.normal-button{
    border: 0.5px solid var(--secondary-color);
    padding:12px 24px;
    border-radius: 6px;
    font-weight: 700;
    color: var(--primary-color);
    transition: 0.2s ease-out;
}
.normal-button:hover{
    border-color: var(--accent-color);
    color: var(--accent-color) !important;
}

.color-button{
    background-color: var(--accent-color);
    border-radius: 6px;
    padding:12px 24px;
    box-shadow: 0 0 2px var(--secondary-color);
    font-weight: 700;
    color:white !important;
    transition: 0.2s ease-out;
}
.color-button:hover{
    background-color: var(--accent-dark);
}
/* main header */

.main-header{
    display: flex;
    align-items: center;
    padding: 50px var(--padding);
    gap:50px
}
.head-left{
    max-width: 40vw;
}
.head-left h1{
    margin-bottom: 20px;
    font-size: 2.9em;
    
}
.head-left p{
    margin-bottom: 20px;
}

.head-right img{
    border-radius: 5px;
    width: 650px;
}
/* company secttion */

.company-head{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-block: 15px;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--primary-color);
}

.logos{
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
    flex-wrap: wrap;
}
.logo{
    height:120px;
}
   /* feature section */

.feature_section{
    padding: 80px var(--padding) 0;
}
.feature_head{
    text-align: center;
}
.feature_head h2{
    margin-bottom: 30px;
}

.feature-area{
    display:flex;
    margin-top:45px;
    flex-wrap: wrap;
    gap:40px;
    justify-content: space-between;
    /* background-image: url(); if needed 
       background-repeat:no-repeat; to make the img not repaet in any direction
       background-position:center; */
}
.feature-card{
    display:flex;
    flex-direction: column;
    max-width: 30%;
    text-align: center;/*needed  for text in p to be center*/
    align-items: center;/* Since you set "flex-direction: column;", the cross-axis is      
                            horizontal     (   left to right).
                        👉 align-items: center; tells all child elements (.feature-img, <h3>, <p>, <a>) to be horizontally centered.*/
    gap: 20px;
}
/* 
By default, display: flex; flex-direction: column; makes child elements stretch to fill the available width.
The <a> tag was behaving like a block element, so it took the full width of its container. */
.feature-card h3{
    font-weight: bold;
}

.feature-img{
    width: 100px;
}

/* sub-header */
/* sub-header is reverse of main header..which can be achived by:
1.manually changing the image to 1st then the text
2.in style add "flex-direction:row-reverse" */
.sub-header{
    display: flex;
    align-items: center;
    padding: 60px var(--padding) 0;
    gap:50px;
    
}

.sub-header-flex{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
/* example section */
.example-area{
    padding: 80px 0 0;
}
.example-head{
    text-align: center;  /* or display:flex: ;
                            flex-direction:column;
                            gap:20px
                          */
}
.example-head h2{
    margin-bottom: 30px; 
}

.example-card{
    display:flex;
    justify-content: space-between;
    margin-top: 40px;
}

.example-card-img
{
    width: 250px;
    position:relative;
    min-height: 300px;
    border-radius: 2px;
    background-color: black;
    background: linear-gradient(rgb(0,0,0,0.8),rgb(0,0,0,0.1)),url(images/flowers-7937665_1280.jpg);
    background-size: cover;
    background-position: center;  /* Centers the image */
    background-repeat: no-repeat; /* Prevents image from repeating */
    transition: 0.2s ease-out ;
}
.example-card-img:hover{
    box-shadow: 0 0 10px blue;
}
.example-card-text{
    position:absolute;
    bottom: 20px;
    left: 20px;
    right:20px;
    color: white;
}

/* test section */
.test-section{
    background-color: rgb(16, 16, 63);
}
.test-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:30px;
    padding: 80px var(--padding) 50px;
    /* background-color: rgb(16, 16, 63); */
    color: white;
    margin-top: 30px;
}

.test-area p{
    margin-top: 30px;
}
.test-area a{
    margin-top: 15px;
}
/* footer section */

.footer{
    display: flex;
    /* gap:250px; */
    align-items: flex-start;
    justify-content: space-between;
    padding: 80px 0 80px 0;
}
.footer-part{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:15px;
    
   
}
.footer-area{
    background-color: silver;

}
.footer-part h3{
    font-weight: bold;
    font-size:1.33em;
}
.footer-part p{
    font-size:1.13em;
    font-weight: 500;
}

/* sub_footer */
.sub-footer{
    padding:20px;
    background-color: grey;
}
.sub-footer-area{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.sub-footer-link{
    color:black;
}
.sub-footer-link:hover{
    color: rgb(220, 18, 18);
}
